player-connection-mode=Listen
player-connection-guid=1542010751
player-connection-debug=1
player-connection-project-name=HybridGames
player-connection-wait-timeout=-1
player-connection-ip=192.168.56.1
player-connection-ip=169.254.115.46
player-connection-ip=169.254.57.70
player-connection-ip=192.168.50.223
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
wait-for-managed-debugger=0
vr-enabled=0
hdr-display-enabled=0
profiler-enable-deep-profiling-support=1
